# Virtual enviroment
baby_venv/

# Environment variables
.env

# Database and database files
chroma_db/
chroma_db/*
data/

# Python and VSCode
*/__pycache__/
__pycache__/
.vscode/

# my enviroment
.gitignore
/notebooks/prompting_rag_dspy.ipynb
title_printer.py